{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="card text-center">
        <div class="card-header">
            Timetable to Calendar
        </div>
        <div class="card-body">
            <h5 class="card-title">Choose your category</h5>
            <p class="card-text">Due to implementation behind <a href="http://timetablingunnc.nottingham.ac.uk:8005/">Timetabling
                Office</a>,
                not all students can get timetable via student ID.</p>
            <p class="card-text">We are sorry to bother you to make one more choice.</p>
            <a href="/year-1" class="btn btn-primary">Year 1 Students via Group Name</a>
            <a href="/year-24" class="btn btn-primary">Year 2-4 Students via Student ID</a>
            <a href="/plan" class="btn btn-primary">Master Students via Plan Name</a>
        </div>
        <div class="card-footer text-muted">
            Powered by Flask
        </div>
    </div>
{% endblock %}
