{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="card text-center mx-auto " >
        <div class="card-header">
            Timetable to Calendar
        </div>
        <div class="card-body">
            <h5 class="card-title">Choose:</h5>
            <div class="list-group list-group-flush">
                <a href="/year-1" class="list-group-item list-group-item-action">Year 1 Students</a>
                <a href="/year-24" class="list-group-item list-group-item-action">Year 2-4 Students</a>
                <a href="/plan" class="list-group-item list-group-item-action">Master Students</a>
                <a href="/staff" class="list-group-item list-group-item-action">Staff</a>
            </div>
        </div>
        <div class="card-footer text-muted">
            Course Data Range: {{ start_date }} to {{ end_date }}
        </div>
        <div class="card-footer text-muted">
            Powered by Flask
        </div>
    </div>
{% endblock %}
