{% extends 'base.html' %}
{% set active_page = "plan" %}

{% block title %} Master Timetable via Plan {% endblock %}

{% block content %}
    <div class="card text-center">
        <div class="card-header">
            Master Plan - Timetable to Calendar
        </div>
        <div class="card-body">
            <h5 class="card-title">Select your plan</h5>
            <div class="form">
                <form action="/api/individual/ical" method="GET">
                    <div class="form-group">
                        <select id="plan" class="selectpicker form-control" data-width="auto" data-live-search="true"
                                title="Select Your Plan Here"
                                name="plan">
                            {% for plan in plan_list %}
                                <option value="{{ plan.plan_id }}">{{ plan.plan_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group form-check">
                        <input name="force-refresh" type="checkbox" class="form-check-input" id="force-refresh"
                               value="1">
                        <label class="form-check-label" for="force-refresh">Refresh my timetable</label>
                        <small id="forceRefresh" class="form-text text-muted">Only click it if the your
                            timetable has
                            been changed.</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Get Timetable</button>
                </form>
            </div>
        </div>
        <div class="card-footer text-muted">
            Powered by Flask
        </div>
{% endblock %}