{% extends 'base.html' %}
{% set active_page = "plan" %}

{% block title %} Master Timetable via Plan {% endblock %}

{% block content %}
    <h1>Master Timetable via Plan</h1>
    <p class="lead">
        This page is only for Master Students who can not get timetable via student ID.
        <br>
        Select Your Plan Below:
    </p>
    <div class="form p-5">
        <form action="/api/plan/ical" , method="GET">
            <div class="form-group row">
                <select id="plan" class="selectpicker form-control" data-width="auto" data-live-search="true"
                        title="Select Your Plan Here"
                        name="plan">
                    {% for plan in plan_list %}
                        <option value="{{ plan.plan_id }}">{{ plan.plan_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group form-check">
                <input name="force-refresh" type="checkbox" class="form-check-input" id="force-refresh" value="1">
                <label class="form-check-label" for="force-refresh">Refresh my timetable</label>
                <small id="forceRefresh" class="form-text text-muted">Only click it if the output of your timetable has
                    been changed.</small>
            </div>
            <button type="submit" class="btn btn-primary">Get Timetable</button>
        </form>
    </div>
{% endblock %}