{% extends 'base.html' %}
{% set active_page = "year-24" %}

{% block title %} Year 2-4 Timetable {% endblock %}

{% block content %}
    <div class="card text-center">
    <div class="card-header">
        Year 2-4 - Timetable to Calendar
    </div>
    <div class="card-body">
        <h5 class="card-title">Type your student ID</h5>
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form">
            <form action="/check" , method="POST">
                <div class="form-group">
                    <label for="id" class="invisible">Student ID</label>
                    <input pattern="\d{8}" required name="id" type="text" class="form-control" id="id"
                           aria-describedby="studentID" placeholder="Type Student ID Here">
                    <input type="hidden" name="type" value="year-24">
                    <small id="forceRefresh" class="form-text text-muted">
                        Please only type in 8 digits Student ID.
                        <br>
                        e.g. 20120000
                    </small>

                </div>
                <div class="form-group form-check">
                    <input name="force-refresh" type="checkbox" class="form-check-input" id="force-refresh" value="1">
                    <label class="form-check-label" for="force-refresh">Refresh my timetable</label>
                    <small id="forceRefresh" class="form-text text-muted">Only click it if the your timetable
                        has been changed.</small>
                </div>
                <button type="submit" class="btn btn-primary">Get Timetable</button>
            </form>
        </div>
    </div>
    <div class="card-footer text-muted">
        Powered by Flask
    </div>
{% endblock %}
